@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Playwrite+NZ:wght@100..400&display=swap');

*{margin: 0; padding: 0; box-sizing: border-box;}

li, ul, ol{list-style: none; }

a{text-decoration: none; color: inherit;}

body{
    font-size: 14px;
    font-family: "Playwrite NZ", "고딕" , cursive;
}
img{vertical-align: bottom;}

table{border-collapse: collapse;}

.clear_fix::before,
.clear_fix::after{
    content: "";
    clear: both;
    display: block;
}